
nav.my_navbar {
    background-color: #343A40 !important; 
}

.container__gioithieu {
    position: absolute;
    top: 0px;
    left: 400px;
    border-left: 5px solid red;
    margin-top: 90px;
    animation: fadeInLeft ease-in 1s;
}

.container__gioithieu {
    border-left: 5px solid red;
}

.container__gioithieu_ani {
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    animation: fadeInLeft ease-in 1s;
}




@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }

@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-10%, 0, 0);
      transform: translate3d(-10%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-10%, 0, 0);
      transform: translate3d(-10%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

h1.container__gioithieu_ani {
    font-weight: bold;
    position: relative;
    font-size: 5rem;
    left: 10px;
    top: -25px;
    text-shadow: 2px 2px 10px black;
}

h3.container__gioithieu_ani {
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    left: 10px;
    top: -25px;
    text-shadow: 2px 2px 7px black; 
}

.container__gioithieu_img {
    position: relative;
    width: 230px;
    height: 230px;
    margin-left: 100px;
    margin-top: 100px;
    top: -10px;
    animation: zoomIn ease-in 1s;
}

.navbar {
    background-color: cadetblue !important;
}

.container-img {
    width: 45px;
    height: 45px;
    margin: 0 10px 0 0;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    background-color: steelblue;
    border-radius: 5px;
}

.form-label-link {
    float: right;
}


/* Đăng nhập với Gmail */
.btn-my-gmail:hover {
    color: black !important;
    background-color: rgb(192, 31, 31) !important;
}

.btn-my-dang_nhap:hover {
    color: black !important;
}
.form-text {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    color: red;
}

/* Banner */
.banner_list {
    position: relative;
    display: flex;
    top: -25px;
    height: 100px;
    background-color: yellow;
    background-image: linear-gradient(to bottom, yellow, #f9a352);
    border-radius: 4px;
}

.banner_item-img {
    width: 70px;
    height: 70px;
    position: relative;
    top: 15px;
    left: 20px;
    border-radius: 70px;
    opacity: 0.5px;
}

.banner_body {
    position: relative;
    top: 15px;
    left: 40px;
}

.banner_list {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.banner_list:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 5px 20px 3px rgba(15, 37, 240, 0.5);
}

.banner_title a:hover {
    text-decoration: none;
}

/* Quy trình thực tập */
.qttt {
    margin-top: 50px;
}

.qttt-tittle {
    font-size: 30px;
    color: #181818;
    line-height: 30px;
    text-align: center;
    font-family:Lato;
    font-weight:700;
    font-style:normal;
    text-transform: uppercase;
}

.qttt-description {
    font-size: 20px;
    color: #4a4a4a;
    text-align: center;
    font-family:Raleway;
    font-weight:400;
    font-style:normal;
    margin: 20px auto;
}

.qttt-ngat-dong {
    text-align: center;
    margin-bottom: 20px;
}

.qttt-img-ngat-dong {
    width: 200px;
    height: 20px;
}

.qttt-content-title {
    color: #181818;
    text-transform: uppercase;
    font-family:Lato;
    font-weight:700;
    font-size: 20px;
}

.qttt-content-mo-ta {
    font-size: 16px;
    color: #4a4a4a;
    text-align: left;
    font-family:Raleway;
    font-style:normal;
}

.qttt-content-mo-ta-text {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}

.col-content {
    margin-top: 30px;
}

/* Notification */
.notification {
    margin-top: 80px;
}

.notification_list {
    border: 1px solid rgb(192, 172, 172);
    border-radius: 5px;
}

.notification_body {
    padding: 10px;
    text-align: justify;
}

.notification_item-img {
    height: 200px;
    width: 348px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.notification_item-title {
    font-size: 1.2rem;
}

.notification_item-text {
  
}

.notification_item-btn {
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5px;
}

/* footer */
.my_footer {
    margin-top: 70px;
    height: 70px;
    background-color: #343a40;
}

.my_footer-text {
    color: white;
    padding: 20px 0 0 10px;
    text-align: center;
}


